<script type='text/javascript'>
<!--
document.probe2seq.query.focus()
//-->
</script>

<div>
<p>
	Convert microarray probe ID into probe sequence(s).
</p>
</div>

<div>
	<h4>Search example:</h4>
	<ul>
		<li><font color=purple>[</font>
			<a href='A_23_P101434'>A_23_P101434</a>
			<font color=purple>]</font>
			...... Convert probe ID into sequence
	</ul>
	<h4>URIs:</h4>
	<ul>
		<li>http://probe.dbcls.jp/<!--
				--><span style='color:#008000'>probeid</span><!--
				-->[.<span style='color:#FF0080'>format</span>]<!--
				-->[.<span style='color:brown'>download</span>]<br>
		<ul>
			<li><span style='color:#008000'>probeid</span>:
				probe ID.
			<li><span style='color:#FF0080'>format</span>:
				html, txt, fasta (or fa). (default: html)
			<li><span style='color:brown'>download</span>:
				download result as a file. (optional)
		</ul>
		<li>Examples
		<ul>
			<li><a href='A_23_P101434'>
				http://probe.dbcls.jp/<!--
					--><span style='color:#008000'>A_23_P101434</span></a><br>
			<li><a href='A_23_P101434.txt'>
				http://probe.dbcls.jp/<!--
					--><span style='color:#008000'>A_23_P101434</span><!--
					-->.<span style='color:#FF0080'>txt</span></a><br>
			<li><a href='A_23_P101434.fasta.download'>
				http://probe.dbcls.jp/<!--
					--><span style='color:#008000'>A_23_P101434</span><!--
					-->.<span style='color:#FF0080'>fasta</span><!--
					-->.<span style='color:brown'>download</span></a>
		</ul>
	</ul>
	<h4>References:</h4>
	<ul>
		<li><a target='_blank' href='https://earray.chem.agilent.com/'>
			Agilent Technologies eArray</a>
		<li>Source code available via
			<a target='_blank' href='https://github.com/meso-cacase/probe2seq'>GitHub</a>
	</ul>
</div>
